# Evitar subir dependencias
node_modules/
# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# Archivos de logs
*.log

# Archivos del editor
.vscode/
.idea/

# Archivos de build o temporales
dist/
build/
.expo/
